body {
    background-color: #1e1e1e;
    color: #dcdcdc;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}

a {
    color: #d7ba7d;
}

h1, h2, h3, h4, h5, h6 {
    color: #569cd6;
}

pre {
    background-color: #252526;
    padding: 10px;
    overflow-x: auto;
}

code {
    background-color: #252526;
    color: #dcdcaa;
}